{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">

    <h1>RSVP</h1>

<div class="l-contain">

    <h1><center>

    <center></h1>

    <form class="resend-email l-grid-u" action="/rsvp" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}">
        Email Address: <input type="text" name="email" placeholder="{{address}}">
        Password: <input type="password" name="password" placeholder="Password">


        <div class="resend-email l-grid-u">
            Title: <input type="text" name="title" placeholder="Title">
            Full Name: <input type="text" name="name" placeholder="Full Name">
        </div>

        <div class="resend-email l-grid-u">
            Allergies: <input type="text" name="allergies" placeholder="Alergies">
            Food Preferences: <input type="text" name="name" placeholder="Vegetarian/Vegan/None">
        </div>

        <div class="resend-email l-grid-u">
            Attending: <input type="radio" name="is_attending" value="is_attending"> Yes 
            <input type="radio" name="is_attending" value="not_attending"> No

        </div>
        
        <div class="resend-email l-grid-u">
            Number Attending: <input type="text" name="number_attending" placeholder="Number Attending">
            Attending Names: <input type="text" name="attending_names" placeholder="Attending Names">
        </div>
        
        <div class="resend-submit l-grid-u">
            <button type="submit" data-icon="S">Submit</button>
        </div>
    </form>
</div>



    <h2></h2>
    <p>
    </p>

    <h2></h2>
    <p>
    </p>

</div>
