 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>Chas and Fiona Invite You To Their Wedding</title>
 </head>
 <body>
<style>
div.transbox
  {
  width:800px;
  height:800px;
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
   }
  div.transbox p
   {
   margin:30px 40px;
   font-weight:bold;
   color:#000000;
    }
 </style>

<table width="900">
    <tbody>
            <tr>
              <td></td>
              <td rowspan=2>
              <img src="http://i.imgur.com/4R70hzn.png" width="900" height="1700">
                                  	
               </td>
               <tr>
                 <td colspan=2>
	  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> 
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
 		<br /><br /><br /><br /><br />
   
              <p><font size="20" color="#FFFFFF" face="Palatino Linotype, Book Antiqua, Palatino, serif">
                      <center>Chas and Fiona</center>
                     </font></p>
                  <p><font size="20" color="#CCCCCC" face="Georgia, Times New Roman, Times, serif">
                    <center><b>06.21.2014</b></center>
                     </font></p>
        <br /><br /><br /><br /><br /><br />
        
        
                   <div class="transbox"> 
                   <p>
    <font size="5" color="black"> <b> {{guestsNames}}, </b>
                     </font>
                   </p>
                  <br />
                  <p><font size="8" color="#990000"> <center>
                   Charles Edward Galey<br/> &amp; <br/>
                   <right>Fiona Bronwyn Seifert</right>
                  </center></font></p>  
                    
<font size="5">
<p><center>are pleased to invite you to our wedding June 21st, 2014 in Sheridan, WY. </center></p>
<p><center>At anytime, you can RSVP on our website using your special link: <a href="http://www.cfwedding2014.com/rsvp/{{id}}">http://www.cfwedding2014.com/rsvp/{{id}}</a> </center></p>
  <p><center> Your username is: <b> {{{username}}} </b></center> </p>
  <p><center> Your password is: <b> {{{password}}} </b></center> </p>
<p><center>We put together all the information we think you'll need for our wedding on our website, including: dates and times, venue locations, places to stay, and things to do.</center></p>
<p><center>We hope to see you there!</center></p>

    <p><center>Chas & Fiona </center></p>
</div>    
</center>
</font>                
                    
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
