{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Charles & Fionas wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<!-- <div id="map" data-map="eureka.hg4dj2eo"></div> -->
<div id="map" style="background-image: url(/img/1264650_10151663387208576_486583790_o.jpg); ></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">June 21, 2014</span>
        <span class="ann-secondary">Sheridan, WY</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 20"}}
            {{addDayEvent "evening-before"
                start = ""
                end   = ""
                desc  = ""}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 21" primary=true}}
            {{addDayEvent "ceremony"
                start = "4:00pm"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "5:00pm"
                end   = ""
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 22"}}
            {{addDayEvent "brunch"
                start = ""
                end   = ""
                desc  = ""}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">

        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="&#9658" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="&#9658" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
            
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://VenuNameURL_here"></a></b><br>
                    <a href="MAP_URL_HERE">
                        <br>
                        
                    </a>
                </address>
            </div>
        </div>

        <p>
        
        </p>


        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday the 21st at 4:00 PM</b>. The ceremony and reception will be held at 17 Wyoming 336 Sheridan, WY 82801:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.com/maps/place/24+Wyoming+335/@44.7159713,-106.965386,777m/data=!3m2!1e3!4b1!4m2!3m1!1s0x5335f142e6f09d93:0x15a1b11f6cdcda72">
                        <b>The Ranch</b><br>
                        24 Hwy 334<br>
                        Sheridan, WY 82801
                    </a>
                </address>
            </div>
        </div>

        <h2 id="brunch" class="anchored-header">
            
        </h2>

        <p>
         
        </p>
        
        <p>
        </p>
        
    </div>
</div>
