{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Charles & Fionas wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="eureka.hg4dj2eo"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">June 21, 2014</span>
        <span class="ann-secondary">Sheridan, WY</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 20"}}
            {{addDayEvent "evening-before"
                start = "8pm"
                end   = "1am"
                desc  = "Day Before Wedding Event"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 21" primary=true}}
            {{addDayEvent "ceremony"
                start = "4:00pm"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "5:00pm"
                end   = ""
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 22"}}
            {{addDayEvent "brunch"
                start = "11am"
                end   = "1pm"
                desc  = "Day After wedding event"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">

        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
            Drinks the Evening Before
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you arrive in Sheridan, WY by <b>DAY-OF-WEEK, MONTH Day#</b> we would love for you to meet up with us as at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://VenuNameURL_here">VenuNameHere</a></b><br>
                    <a href="MAP_URL_HERE">
                        Address Line 1<br>
                        Address Line 2
                    </a>
                </address>
            </div>
        </div>

        <p>
            Extra information about pre-wedding venu or reservations. 
        </p>


        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday the 21st at 4:00 PM</b>. The ceremony and reception will be held at 17 Wyoming 336 Sheridan, WY 82801:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.com/maps/dir//17+Wyoming+335,+Sheridan,+WY+82801/@44.7172763,-106.9642104,437m/data=!3m1!1e3!4m13!1m4!3m3!1s0x5335f1427cf1cc4f:0x1c841fc7dbe55185!2s17+Wyoming+335!3b1!4m7!1m0!1m5!1m1!1s0x5335f1427cf1cc4f:0x1c841fc7dbe55185!2m2!1d-106.9642025!2d44.7172729">
                        <b>The Ranch</b><br>
                        17 Wyoming 335<br>
                        Sheridan, WY
                    </a>
                </address>
            </div>
        </div>

        <h2 id="brunch" class="anchored-header">
            Day After Wedding Event
        </h2>

        <p>
            Information and location of informal day-after event if one exists. 
        </p>
        <p>
            We would appreciate if you would RSVP, <em>regrets only</em>, <a href="/rsvp/brunch/">if you <em>won't</em> be attending the brunch</a>. (This is a link that will let you RSVP to the "day after" event if one exists. 
        </p>
    </div>
</div>
